<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-if指令</title>
</head>
<body>
        <!--v-if指令的作用是：根據表達式的真假切換元素的顯示狀態
            本質是透過操縱dom元素來切換顯示狀態
            表達式的值為true，元素存在於dom樹中，為false，從dom樹中移除
            頻繁地切換選擇使用v-show，反之使用v-if，v-show的切換消耗較小-->

<!-- 引入 Vue.js CDN -->
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

<div id="app">
    <input type="button" value="切換顯示" @click="toggleIsShow">
    <p v-if="isShow">黑馬程序員</p>
    <p v-show="isShow">黑馬程序員 - v-show修飾</p>
    <h2 v-if="temperature>=35">熱死了</h2>
</div>

<script>
    var app = new Vue({
        el:"#app",
        data:{
            isShow:false,
            temperature:20
        },
        methods:{
            toggleIsShow:function () {
                this.isShow = !this.isShow;

            }
        }

    })
</script>


</body>
</html>